.form-file {
  display: flex !important;
  flex-direction: column;
  width: auto;
  margin-top: 30px;
}
.upload-button {
  margin-top: 10px;
}
.image-input {
  display: flex;
  margin-left: 10px;
}
.image-input label {
  margin-right: 10px;
}
.img-preview {
  position: relative;
  width: 300px;
  height: auto;
  margin-left: 30px;
}
.img-preview img {
  width: 100%;
  height: auto;
}
